@charset "UTF-8";/* --------- CORE ---------  *//* COLORS *//* amarillo *//* gris claro *//* negro *//* gris oscuro *//* blanco *//* ELEMENTS POSITION *//* FONT SIZE */* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,div,span,applet,object,iframe {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}/* --------- COMPONENTS ---------  *//* FONT FAMILY *//* FONT SIZE *//* FONT WEIGHT */.submit-input {
  background-color: #ffcd49;
  color: #000;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
}

.see-input-cards {
  color: black;
  border: 1px solid black;
  padding: 1% 4%;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 400;
  display: inline-block;
}

.info-more-input {
  color: black;
  padding: 1% 7%;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  background-color: white;
  font-size: 1.5rem;
  font-weight: 400;
}

.primaryButton {
  background-color: inherit;
  color: #000;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  border: 1px solid #000;
  padding: 20px 40px;
  display: block;
  margin: 50px auto;
}/* Slider */.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}/* Icons *//* Arrows */.slick-prev,.slick-next {
  position: absolute;
  display: block;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 31%;
  font-size: 18px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  border: none;
  outline: none;
}

.slick-prev:hover,.slick-prev:focus,.slick-next:hover,.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,.slick-prev:focus:before,.slick-next:hover:before,.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,.slick-next:before {
  font-family: "slick";
  line-height: 1;
  color: black;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev:hover:before,.slick-prev:focus:before,.slick-next:hover:before,.slick-next:focus:before {
  opacity: 0.5;
}

.slick-next:before {
  content: '→';
}

.slick-prev:before,.slick-next:before {
  font-family: 'slick';
  line-height: 1;
  opacity: 0.5;
  color: #000;
  font-size: 18px;
}

.slick-prev {
  left: 20px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: 20px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: 20px;
}

[dir="rtl"] .slick-next {
  left: -25px;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}/* Dots */.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  outline: none;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover,.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  font-family: "slick";
  font-size: 6px;
  text-align: center;
  color: inherit;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: inherit;
  opacity: 0.75;
}/* --------- LAYOUT /* --------- *//* ========
HEADER
=========*/header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: #ffcd49;
  top: 0;
  z-index: 2;
  height: 4rem;
  padding: 0.5rem;
  border-bottom: 1px solid #000;
}/* HEADER LEFT */.logo-img {
  width: 3rem;
  height: 3rem;
}/* HEADER RIGHT */.nav-section {
  margin-left: 0;
  padding: 0;
  -ms-flex-item-align: center;
  align-self: center;
}

.menu-nav {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: #ffcd49;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
}

.image-menu {
  width: 1.5rem;
  display: block;
}

.nav-list {
  font-size: 2rem;
  position: fixed;
  width: 35%;
  left: 100%;
  top: 3.9rem;
  background-color: #ffcd49;
  margin: 0;
  padding-top: 0;
  padding-left: 1.5rem;
  padding-bottom: 0.7rem;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.nav-list.active-menu {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.item-list {
  list-style: none;
}

.item-nav-list {
  color: #000;
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

.item-nav-list:hover {
  color: #000;
  text-decoration: underline;
}

.nav-list-desktop {
  display: none;
}

.hero .hero-img {
  width: 100%;
  height: auto;
  display: block;
  top: 6rem;
  position: relative;
}

.hero .hero-container {
  height: 65vh;
  background-image: url("../images/mujeres2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero .text-hero-container {
  background-color: #ffcd49;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
  padding: 70px 0;
}

.hero .hero-text {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: #ffffff;
  padding: 0.2rem;
}

.hero .stat {
  padding: 50px 0;
}

.hero .stat-list-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 6rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero .stat-list-two,.hero .stat-list-three {
  display: none;
}

.hero .stat-num-one {
  font-size: 40px;
  width: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero .stat-number-one {
  color: #ffcd49;
  margin: 0;
}

.hero .stat-text-one {
  margin: 0;
  margin-left: 0.2rem;
}

.hero .stat-num-two,.hero .stat-number-two,.hero .stat-text-two,.hero .stat-num-three,.hero .stat-number-three,.hero .stat-text-three,.hero .stat-par-two,.hero .stat-par-three {
  display: none;
}

.hero .stat-par-one {
  margin: 0;
  text-align: center;
}

.hero .stat-num-two-desktop,.hero .stat-num-three-desktop {
  font-size: 40px;
}

.intro-info {
  display: block;
  text-align: center;
  border-bottom: 1px solid #000;
}

.intro-info-text {
  margin: 1.5rem;
}

.info-img {
  display: block;
  width: 100%;
}

.intro-par {
  display: none;
}

.button-inf-org {
  display: none;
}

.text-button-org {
  display: none;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.about-us .image-about-us {
  width: 100%;
  height: 100%;
  margin-top: 4rem;
}

.about-us > :nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.about-us .about-us-container {
  padding: 35px;
  font-size: 1rem;
}

.legal {
  background-color: #000;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.legal .info {
  padding: 35px;
}

.legal .info-title {
  font-size: 1.5rem;
  padding-top: 4%;
  text-align: center;
  text-transform: uppercase;
}

.legal .info-text {
  text-align: center;
}

.legal .card-legal {
  display: none;
  color: #000;
  padding: 5% 4%;
  text-align: center;
  border: solid 1px #000;
  font-size: 1rem;
}

.legal .card-legal:nth-child(2n) {
  background-color: white;
}

.legal .card-legal:nth-child(2n + 1) {
  background-color: #ffcd49;
}

.legal .see-input {
  border: 1px solid white;
  color: white;
  padding: 5%;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 400;
  display: block;
}

.legal .see-input-cards {
  text-transform: uppercase;
}/*BASIC CALCULATOR STYLE (text and box parameters) */.calculator {
  text-align: center;
}

.info-calculator {
  margin-bottom: 10%;
}

.tertiary-title {
  padding-top: 3%;
  font-size: 2rem;
  color: #ffcd49;
}

.fourth-title {
  font-size: 1.5rem;
  color: #000;
}

.calc-subtitle {
  font-weight: 500;
  margin-top: 5%;
  margin-top: 0;
  margin-bottom: 2%;
}

.about-calculator-function {
  display: none;
}/* BACKGROUND CALCULATOR STYLE */.form-calculator {
  background-color: #f0f0f0;
}/* FORM CALCULATOR STYLE */.form-calculator {
  padding-top: 10%;
  padding-bottom: 7%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

input {
  width: 50%;
  margin-bottom: 2.5%;
  margin-top: 2%;
  padding: 15px 20px;
  -ms-flex-item-align: center;
  align-self: center;
  text-align: center;
  border: 1px solid #bbbbbb;
}

input::-webkit-input-placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
}

input:-ms-input-placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
}

input::-ms-input-placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
}

input::placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
}/* ANSWER STYLE */.answer-calculator {
  padding-top: 8%;
}

.salary-value-title {
  padding-top: 4%;
}

.slider .title-slider {
  text-align: center;
  background-color: white;
  padding: 70px;
}

.slider .testimony-title {
  font-size: 2rem;
}

.slider .testimonys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2% 14%;
  margin: 0;
  display: block;
  background-color: #f0f0f0;
}

.slider .testimony-text {
  background-color: white;
  width: 100%;
  padding: 40px;
  display: inline-block;
}

.slider .image-testimony {
  border-radius: 75px;
  width: 70px;
  display: block;
  margin: auto;
}

.slider .testimony-person {
  background-color: #f0f0f0;
  padding: 30px;
  text-align: center;
  font-size: 1rem;
}

.slider li {
  list-style: none;
}

.accordion {
  background-color: #ffcd49;
  color: #000;
  cursor: pointer;
  padding: 35px;
  width: 100%;
  border: none;
  border-bottom: 1.5px solid #000;
  text-align: left;
  outline: none;
  font-size: 1.5rem;
  font-weight: 500;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.accordion:hover {
  background-color: #F6AE2D;
}

.accordion:after {
  content: '\002B';
  color: #000;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0px 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.title-acor {
  text-align: center;
}

.card-list {
  margin: 60px 0;
}

.card-container {
  margin: 50px 0;
}

.card {
  background: #ffcd49;
  padding: 5px 0;
  border-top: 1px solid #000;
}

.card-icon {
  width: 70px;
  display: block;
  margin: 10px auto;
}

.text-card {
  margin: 50px 30px;
}

.title-card {
  margin: 50px 0px;
  text-align: center;
}

.hide {
  display: none;
}

.text-card-list {
  font-size: 1.5rem;
  text-align: center;
  margin: 70px 35px;
}

.title-card-list {
  font-size: 2rem;
  text-align: center;
  margin: 30px 35px;
}

.line {
  border: 0;
  height: 1px;
  background-color: #000;
  width: 70%;
}

footer {
  margin-top: 100px;
  background-color: #f0f0f0;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.ul_footer {
  list-style: none;
}

.ul_footer li {
  padding: 10px 0;
}

.ul_footer a {
  color: #bbbbbb;
  text-decoration: none;
  cursor: pointer;
}

.ul_footer a:hover {
  color: #ffcd49;
}

.map_footer {
  background-image: url("../images/mapa.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  border-radius: 100px;
}

.logo_social {
  width: 40px;
}

@font-face {
  font-family:"slick";src:url("../fonts/slick.eot");src:url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");font-weight:normal;font-style:normal;
}

@media all and (min-width: 768px) {
  body {
    font-size: 1.25rem;
  }

  .slick-prev,.slick-next {
    top: 31%;
  }

  .slick-prev:before,.slick-next:before {
    font-size: 30px;
  }

  .slick-prev:before,.slick-next:before {
    font-size: 50;
  }

  .slick-prev {
    left: 45px;
  }

  .slick-next {
    right: 10px;
  }

  .nav-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }

  .menu-nav {
    display: none;
  }

  .nav-list {
    display: none;
  }

  .item-list {
    display: none;
  }

  .item-nav-list {
    display: none;
  }

  .nav-list-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    background-color: #ffcd49;
    margin: 0;
    padding: 0;
  }

  .item-list-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .item-nav-list-desktop {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
  }

  .item-nav-list-desktop:hover {
    color: #000;
    text-decoration: underline;
  }

  .hero .hero-container {
    height: 75vh;
  }

  .hero .hero-text {
    margin-left: 1.65rem;
    margin-right: 1.65rem;
  }

  .hero .stat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 6rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 50px auto;
    padding: 0 20px;
  }

  .hero .stat-list-one {
    height: initial;
    display: inline-block;
    text-align: center;
    margin: 0;
  }

  .hero .stat-list-two,.hero .stat-list-three {
    display: inline-block;
    text-align: center;
    margin: 0;
  }

  .hero .stat-num-two-desktop,.hero .stat-num-three-desktop {
    width: auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero .stat-number-two-desktop,.hero .stat-number-three-desktop {
    color: #ffcd49;
    margin: 0;
  }

  .hero .stat-text-two-desktop,.hero .stat-text-three-desktop {
    margin: 0;
    margin-left: 0.2rem;
  }

  .hero .stat-par-two-desktop,.hero .stat-par-three-desktop {
    margin: 0;
    text-align: center;
  }

  .intro-info-text {
    color: #ffffff;
    position: absolute;
    text-align: left;
    margin-left: 2.9rem;
    margin-right: 20rem;
    margin-top: -17rem;
  }

  .intro-par {
    color: #ffffff;
    position: absolute;
    text-align: left;
    margin-left: 2.9rem;
    margin-right: 20rem;
    display: block;
    font-size: 1rem;
    margin-top: -13rem;
  }

  .button-inf-org {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: white;
    font-size: 1.2rem;
    padding: 1rem;
    margin-left: 2.9rem;
    margin-top: -5.8rem;
    margin-bottom: 0;
    position: absolute;
    z-index: 1;
  }

  .text-button-org {
    display: block;
    color: #000;
    text-decoration: none;
  }

  .legal .info {
    padding: 12%;
  }

  .legal .info-title {
    font-size: 2rem;
    padding-top: 0;
  }

  .legal .info-text {
    font-size: 1rem;
  }

  .info-calculator {
    margin-bottom: 5%;
  }

  .calc-subtitle {
    margin-top: 3%;
  }

  .form-calculator {
    padding-top: 5%;
    padding-bottom: 3%;
  }

  input {
    width: 30%;
    margin-bottom: 1%;
    margin-top: 0.5%;
  }

  .answer-calculator {
    padding-top: 3.5%;
  }

  .slider {
    margin-bottom: 10%;
  }

  .slider .title-slider {
    background-color: #f0f0f0;
    margin-top: 8%;
    padding: 50px;
  }

  .slider .testimony-title {
    margin-bottom: 5%;
  }

  .slider .testimonys {
    background: url("../images/comillas-abajo.png") 5% 0 no-repeat, url("../images/comillas-arriba.png") 93% 0 no-repeat;
    background-size: 96px;
    background-color: #f0f0f0;
  }

  .slider .testimony-text {
    width: 100%;
    font-size: 1rem;
  }

  .slider .testimony-person {
    padding: 30px 0;
    width: 95%;
  }
}

@media all and (min-width: 924px) {
  .card-list {
    margin: 100px 0;
  }

  .card-container {
    margin: 50px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .card {
    width: 31.5%;
    padding: 30px 0;
    border: none;
  }

  .card-icon {
    margin: 40px auto;
  }

  .hide {
    display: block;
  }

  .text-card-list {
    margin: 50px 120px;
  }
}

@media all and (min-width: 1024px) {
  body {
    font-size: 1.5rem;
  }

  :before {
    font-size: 30px;
  }

  .slick-prev {
    left: 100px;
  }

  .slick-next {
    right: 50px;
  }

  header {
    height: 5rem;
    padding: 0.7rem;
  }

  .logo-img {
    width: 4rem;
    height: 4rem;
  }

  .hero .hero-container {
    height: 90vh;
  }

  .hero .text-hero-container {
    background-color: rgba(255, 205, 73, 0.5);
    height: 20rem;
    top: 23%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 80%;
  }

  .hero .hero-text {
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
  }

  .hero .stat {
    margin: 50px auto;
    padding: 0 30px;
  }

  .intro-info-text {
    margin-top: -17rem;
  }

  .intro-par {
    font-size: 1.2rem;
    margin-top: -13rem;
  }

  .about-us > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .about-us > * .image-about-us {
    width: 50%;
    height: 50%;
  }

  .legal .info {
    grid-row: 1 / 4;
    padding: 20%;
  }

  .legal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .legal .info-title {
    font-size: 2.5rem;
  }

  .legal .info-text {
    font-size: 1.5rem;
  }

  .legal .card-legal {
    display: block;
  }

  .legal .see-input {
    display: none;
  }

  .legal .see-input-cards {
    border: 1px solid #000;
    padding: 20px 40px;
    font-weight: 700;
  }

  .info-calculator {
    margin-bottom: 3%;
  }

  .calc-subtitle {
    margin-top: 2%;
  }

  .about-calculator-function {
    display: inline-block;
  }

  .form-calculator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  input {
    width: 120%;
    margin-bottom: 5%;
    margin-top: 4.5%;
  }

  .answer-calculator {
    margin-left: 15%;
  }

  .salary-value-title {
    padding-top: 10%;
  }

  .slider {
    background-color: #f0f0f0;
  }

  .slider .testimony-title {
    margin-bottom: 3%;
  }

  .slider .testimonys {
    background-size: 136px;
  }

  .slider .testimony-text {
    width: 100%;
    padding: 100px;
  }

  .card-list {
    margin: 170px 0;
  }

  .card-container {
    margin: 50px 60px;
  }
}

@media all and (min-width: 1124px) {
  .text-card-list {
    margin: 70px 210px;
  }

  .line {
    width: 60%;
  }
}

@media all and (min-width: 1224px) {
  .card-container {
    margin: 50px 90px;
  }

  .text-card {
    margin: 60px;
  }
}

@media all and (min-width: 10248px) {
  .slick-prev:before,.slick-next:before {
    font-size: 50;
  }
}

/*# sourceMappingURL=main.css.map */
