/* COLORS */

$colorPrimary: #ffcd49; /* amarillo */
$colorSecondary: #f0f0f0; /* gris claro */
$colorTertiary: #000; /* negro */
$colorQuaternary: #bbbbbb; /* gris oscuro */
$colorQuinary: #ffffff; /* blanco */

/* ELEMENTS POSITION */

$upper: 2;
$lower: 1;

/* FONT SIZE */

$mainBodySize: 1rem;
$secondaryBodySize: 1.25rem;
$thirdBodySize: 1.5rem;
