/* COLORS */

$colorPrimary: #ffcd49; /* amarillo */
$colorSecondary: #f0f0f0; /* gris claro */
$colorTertiary: #000; /* negro */
$colorQuaternary: #bbbbbb; /* gris oscuro */
$colorQuintary: #ffffff; /* blanco */

/* ELEMENTS POSITION */

$upper: 2;
$lower: 1;

/* FONT SIZE */

$mainBodySize: 16px;
$secondaryBodySize: 18px;
$thirdBodySize: 20px;
