.about-us {
  display: flex;
  flex-direction: column;
  margin-bottom: 180px;

  .image-about-us {
    width: 100%;
    height: 100%;
    margin-top: 0;
  }

  @media all and (min-width:1024px) {
    > * {
      display: flex;
      flex-direction: row;

      .image-about-us {
        width: 50%;
        height: 50%;
      }
    }
  }

   >:nth-child(2n) {
    flex-direction: row-reverse;
  }

  .about-us-container {
    display: block;
    margin: auto;
    font-size: 1rem;
  }
}


.title-about {
  text-align: center;
  font-size: $text-size;
  @media all and (min-width:1024px) {
  font-size: $fifthTitleSize;
}
}

.text-about {
  font-size: 1rem;
  @media all and (min-width:1024px) {
  font-size: $text-size;
}
}
