
.accordion {
  font-family: 'Ubuntu', sans-serif;
  font-size: $text-size;
  font-weight:$lightFontWeight;
  background-color: $colorPrimary;
  color: $colorTertiary;
  cursor: pointer;
  padding: 35px;
  width: 100%;
  border: none;
  border-bottom: 1.5px solid $colorTertiary;
  text-align: left;
  outline: none;
  transition: 0.4s;
  @media all and (min-width:768px) {
      font-size: $fifthTitleSize;
  }


}

.accordion:hover {
  background-color: #F6AE2D;
}

.accordion:after {
    content: '\002B';
    color: #000;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0px 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


.title-acor {
  font-size: $fifthTitleSize;
  text-align: center;
  margin: 50px 35px;

  @media all and (min-width:768px) {
    font-size: $thirdTitleSize;
    margin-bottom: 100px;

  }
}


.acc-text {
  padding: 40px 0;
}
