
/*BASIC CALCULATOR STYLE (text and box parameters) */

.calculator {
  text-align: center;
}

.info-calculator {
  padding-left: 3%;
  padding-right: 3%;
}

.tertiary-title {
  font-size: $thirdTitleSize;
  color: $colorPrimary;
}


.fourth-title {
  font-size: $fourthTitleSize;
  color: $colorTertiary;
  margin-top: 0;
  margin-bottom: 2%;
}


.calc-subtitle {
  font-weight: $normalFontWeight;
  margin-top: 5%;
  margin-bottom: 10%;
  @media all and (min-width:768px) {
    margin-bottom: 5%;
  }
}



/* BACKGROUND CALCULATOR STYLE */

.form-calculator {
  background-color: $colorSecondary;
}


/* FORM CALCULATOR STYLE */

.form-calculator {
  padding-top: 10%;
  padding-bottom: 7%;
  @media all and (min-width:768px) {
    padding-top: 5%;
    padding-bottom: 3%;
  }
  @media all and (min-width:1024px) {
    display: flex;
    flex-direction: row;
    justify-content: cene
  }
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 25%;
}

input {
  margin-bottom: 2%;
  text-align: center;
  padding: 15px 20px;
  margin: 8px 0;
  border: 1px solid $colorQuaternary;
}

input::placeholder {
  color: $colorQuaternary;
  text-transform: uppercase;
}

/* ANSWER STYLE */

.intro-calc-data {
  margin-bottom: 5%;
  @media all and (min-width:768px) {
    padding-top: 5%;
  }
}

.answer-calculator {
  padding-top: 10%;
  @media all and (min-width:768px) {
    padding-top: 5%;
  }
}

.salary-value-title {
  padding-top: 2%;
}
