
/*BASIC CALCULATOR STYLE (text and box parameters) */

.calculator {
  text-align: center;
}

.info-calculator {
  padding: 60px 0;
  @media all and (min-width:768px) {
    margin-bottom: 5%;
  }
  @media all and (min-width:1024px) {
    margin-bottom: 3%;
  }
}

.tertiary-title {
  padding-top: 3%;
  font-size: $thirdTitleSize;
  color: $colorPrimary;
}

.fourth-title {
  font-size: $fourthTitleSize;
  color: $colorTertiary;
}

.calc-subtitle {
  font-weight: $mediumFontWeight;
  margin-top: 5%;
  margin-top: 0;
  margin-bottom: 2%;
  @media all and (min-width:768px) {
    margin-top: 3%;
  }
  @media all and (min-width:1024px) {
    margin-top: 2%;
  }
}


.about-calculator-function {
  display: none;
  @media all and (min-width:1024px) {
  margin: 0 120px;
   display: inline-block; }
}


/* BACKGROUND CALCULATOR STYLE */

.form-calculator {
  background-color: $colorSecondary;
}


/* FORM CALCULATOR STYLE */

.form-calculator {
  padding-top: 10%;
  padding-bottom: 7%;
  @media all and (min-width:768px) {
    padding-top: 5%;
    padding-bottom: 3%;
  }
  @media all and (min-width:1024px) {
    display: flex;
    justify-content: center;
    padding: 90px 0;
  }
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input {
  width: 50%;
  margin-bottom: 2.5%;
  margin-top: 2%;
  padding: 15px 20px;
  align-self: center;
  text-align: center;
  border: 1px solid $colorQuaternary;
  @media all and (min-width:768px) {
    width: 30%;
    margin-bottom: 1%;
    margin-top: 0.5%;
  }
  @media all and (min-width:1024px) {
    width: 120%;
    margin-bottom: 5%;
    margin-top: 4.5%;
  }
}

input::placeholder {
  color: $colorQuaternary;
  text-transform: uppercase;
}

/* ANSWER STYLE */

.answer-calculator {
  padding-top: 8%;
  @media all and (min-width:768px) {
    padding-top: 3.5%;
  }

  @media all and (min-width:1024px) {
    margin-left: 15%;
  }
}

.salary-value-title {
  padding-top: 4%;
  @media all and (min-width:1024px) {
    padding-top: 10%;

  }
}
