footer {
  margin-top: 100px;
  background-color: $colorSecondary;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ul_footer {
  list-style: none;
  & li {
    padding: 10px 0;
  }
  & a {
    color: $colorQuaternary;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: $colorPrimary;
    }
  }
}

.map_footer {
  background-image: url("../images/mapa.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  border-radius: 100px;
}

.logo_social {
  width: 40px;
}
