
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: $colorPrimary;
  top: 0;
  z-index: $upper;
  height: 4rem;
  padding: 0.5rem;
  @media all and (min-width: 1024px) {
    height: 5rem;
    padding: 0.7rem;
  }
}
/* HEADER LEFT */
.logo-img {
  width: 3rem;
  height: 3rem;
  @media all and (min-width: 1024px) {
    width: 4rem;
    height: 4rem;
  }
}
/* HEADER RIGHT */
.nav-section {
  margin-left: 0;
  padding: 0;
  align-self: center;
  @media all and (min-width: 768px) {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}
.menu-nav {
  appearance: none;
  border: none;
  background-color: $colorPrimary;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  @media all and (min-width: 768px) {
    display: none;
  }
}
.image-menu {
  width: 1.5rem;
  display: block;
}
.nav-list {
  font-size: 2rem;
  position: fixed;
  width: 35%;
  left: 100%;
  top: 3.9rem;
  background-color: $colorPrimary;
  margin: 0;
  padding-top: 0;
  padding-left: 1.5rem;
  padding-bottom: 0.7rem;
  transition: transform 300ms;
  &.active-menu {
    transform:translate3d(-100%,0,0);
  }

  @media all and (min-width: 768px) {
    display: none;
  }
}

.item-list {
  list-style: none;
  @media all and (min-width: 768px) {
    display: none;
  }
}
.item-nav-list {
  color: $colorTertiary;
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  @media all and (min-width: 768px) {
    display: none;
  }
}
.item-nav-list:hover {
  color: $colorTertiary;
}
.nav-list-desktop {
  display: none;
  @media all and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    width: 50%;
    background-color: $colorPrimary;
    margin: 0;
    padding: 0;
  }
}
.item-list-desktop {
  @media all and (min-width: 768px) {
    display: flex;
    align-items: center;

  }
}
.item-nav-list-desktop {
  @media all and (min-width: 768px) {

    transition: 0.3s ease;
    color: $colorQuintary;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1rem;
    font-weight: $normalFontWeight;
  }
}
.item-nav-list-desktop:hover {
  @media all and (min-width: 768px) {
    color: $colorTertiary;
  }
}
