/* MAIN AREA */
/* SECTION HERO*/
.hero-img {
  width: 100%;
  height: auto;
  display: block;
  top: 6rem;
  position: relative;
}
.hero-container {
 height: 65vh;
 background-image: url('/../images/mujeres2.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 @media all and (min-width: 768px) {
   height: 75vh;
 }
 @media all and (min-width:  1024px) {
   height: 90vh;
 }
}
.text-hero-container {
  background-color: #ffcd49;
    height: 8rem;
    display: flex;
    flex-direction: column;
    color: $colorQuintary;
    padding: 0.9rem 0.3rem;
    position: static;
  @media all and (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255,205,73,0.5);
    height: 20rem;
    top: 30%;
    margin-left: 7rem;
    margin-right: 7rem;
    position: absolute;
  }
}
.hero-text {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: $colorQuintary;
  padding: 0.2rem;
  @media all and (min-width: 768px) {
    margin-left: 1.65rem;
    margin-right: 1.65rem;
  }
  @media all and (min-width: 1024px) {
    font-size: 2rem;
    font-weight: $boldFontWeight;
    color: $colorQuintary;
  }
}
.stat {
  @media all and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
  }
  @media all and (min-width: 1024px) {
    margin-top: 6.5rem;
  }
}
.stat-list-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  height: 4rem;
  justify-content: center;
  @media all and (min-width: 768px) {
    height: initial;
    display: inline-block;
    text-align: center;
    margin: 0;
  }
}
.stat-list-two,.stat-list-three {
  display: none;
  @media all and (min-width: 768px) {
    display: inline-block;
    text-align: center;
    margin: 0;
  }
}
.stat-num-one {
  width: auto;
  display: inline-flex;
  align-items: center;
}
.stat-number-one {
  color: $colorPrimary;
  margin: 0;
}
.stat-text-one {
  margin: 0;
  margin-left: 0.2rem;
}
.stat-num-two,.stat-number-two,.stat-text-two,.stat-num-three,.stat-number-three,.stat-text-three,.stat-par-two,.stat-par-three {
  display: none;
}
.stat-par-one {
  margin: 0;
}
.stat-num-two-desktop,.stat-num-three-desktop {
  @media all and (min-width: 768px) {
    width: auto;
    display: inline-flex;
    align-items: center;
  }
}
.stat-number-two-desktop,.stat-number-three-desktop {
  @media all and (min-width: 768px) {
    color: $colorPrimary;
    margin: 0;
  }
}
.stat-text-two-desktop,.stat-text-three-desktop {
  @media all and (min-width: 768px) {
    margin: 0;
    margin-left: 0.2rem;
  }
}
.stat-par-two-desktop,.stat-par-three-desktop {
  @media all and (min-width: 768px) {
    margin: 0;
  }
}
