
  .hero-container {
    height: 75vh;
    background-image: linear-gradient(to bottom rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.2)), url('../images/mujeres2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    @media all and (min-width: 768px) {
      height: 90vh;
    }
    @media all and (min-width: 768px) {
      height: 100vh;
      background-position-y: 25%;
    }
  }
  .text-hero-container {
    background-color: $colorPrimary;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media all and (min-width: 1024px) {
      background-color: rgba(255,205,73,0.75);
      width: 80%;
      height: 15rem;
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .hero-text {
    font-size: 1.15rem;
    text-align: center;
    margin: auto;
    width: 70%;
    line-height: $lineHeightDesktop;
    color: $colorQuintary;
    padding: 0.2rem;
    @media all and (min-width: 768px) {
      text-align: center;
      margin: auto;
    }
    @media all and (min-width: 1024px) {
      text-align: left;
      font-size: $mainTitleSize;
      font-weight: $mediumFontWeight;
      color: $colorQuintary;
    }
  }


.stat {
  text-align: center;
  margin-left: 25%;
  padding: 35px 0;
  @media all and (min-width: 768px) {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 70px 0;
  }
}

.stat-list-one,
.stat-list-two,
.stat-list-three {
  width: 70%;
  @media all and (min-width: 768px) {
    width: 30%
  }
}


.stat-list-two,
.stat-list-three {
  display: none;
  @media all and (min-width: 1024px) {
    display: block;
  }
}


.stat-number-one,
.stat-number-two-desktop,
.stat-number-three-desktop {
  display: inline-block;
  font-size: $thirdTitleSize;
  color: $colorPrimary;
  margin-bottom: 1rem;
  margin-top: 0;
  @media all and (min-width: 768px) {
  font-size: $secondaryTitleSize;
}
}


.stat-text-one,
.stat-text-two-desktop,
.stat-text-three-desktop {
  display: inline-block;
  margin-top: 0;
  margin-left: 0.2rem;
  margin-bottom: 1rem;
  font-size: $fifthTitleSize;

}

.stat-par-one,
.stat-par-two-desktop,
.stat-par-three-desktop {
  margin: 0;
  font-weight:$normalFontWeight;
  font-size:$text-size;
  @media all and (min-width: 768px) {
    font-size: $fifthTitleSize;
}


}
