.slider {
  @media all and (min-width:768px) {
    margin-bottom: 10%;
  }
  @media all and (min-width:1024px) {
    background-color: $colorSecondary;
  }

  .title-slider {
    text-align: center;
    background-color: white;
    padding: 70px;
    @media all and (min-width:768px) {
      background-color: $colorSecondary;
      margin-top: 8%;
      padding: 50px;
    }
  }

  .testimony-title {
    font-size: $thirdTitleSize;
    @media all and (min-width:768px) {
      margin-bottom: 5%;
    }
    @media all and (min-width:1024px) {
      margin-bottom: 3%;
    }
  }

  .testimonys{
    padding: 2% 14%;
    margin: 0;
    background-color: $colorSecondary;
    .testimony:not(:first-child) {
      display: none;
    }
    @media all and (min-width:768px) {
      display: flex;
      background: url('../images/comillas-abajo.png') 5% 0 no-repeat,
      url('../images/comillas-arriba.png') 93% 0 no-repeat;
      background-size: 96px;
      background-color: $colorSecondary;
      .testimony:not(:first-child) {
        display: block;
      }
    }

    @media all and (min-width:1024px) {
      background-size: 136px;
    }
  }

  .testimony-text {
    background-color: white;
    width: 100%;
    padding: 20px;
    @media all and (min-width:768px) {
      width: 95%;
      font-size: 1rem;
      .hidden {
        display: inline-block;
      }
    }
  }

  .image-testimony {
    border-radius: 75px;
    width: 70px;
    display: block;
    margin: auto;
  }

  .testimony-person {
    background-color: $colorSecondary;
    padding: 30px;
    text-align: center;
    font-size: 1rem;
    @media all and (min-width:768px){
      padding: 30px 0;
      width: 95%;
    }
  }

  li {
    list-style: none;
  }

  .slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
    opacity: 0.5;
  }

  .slick-next:before {
    content: '→';
  }

  .slick-prev:before, .slick-next:before {
    font-family: 'slick';
    line-height: 1;
    opacity: 0.5;
    color: $colorTertiary;
    font-size: 30px;
    @media all and (min-width:768px){
      font-size: 50;
    }
    @media all and (min-width:10248px){
      font-size: 50;
    }

  }


}
