.slider {
  @media all and (min-width:768px) {
    margin-bottom: 10%;
  }
  @media all and (min-width:1024px) {
    background-color: $colorSecondary;
  }


    .title-slider {
      text-align: center;
      background-color: $colorQuintary;
      padding: 23px;
      @media all and (min-width:768px) {
        background-color: $colorSecondary;
        margin-top: 8%;
        padding: 50px;
      }
    }
  // .title-slider {
  //   text-align: center;
  //   background-color: white;
  //   padding: 70px;
  //   @media all and (min-width:768px) {
  //     background-color: $colorSecondary;
  //     margin-top: 8%;
  //     padding: 50px;
  //   }
  // }

//

  .testimony-title {
    font-size: $fifthTitleSize;
    @media all and (min-width:768px) {
      margin-bottom: 5%;
      font-size: $thirdTitleSize;
    }
    @media all and (min-width:1024px) {
      margin-bottom: 3%;
    }
  }


  .testimonys{
    display: flex;
    padding: 7% 14%;
    margin: 0;
    display: block;
    background-color: $colorSecondary;
    @media all and (min-width:768px) {
      background: url('../images/comillas-abajo.png') 5% 0 no-repeat,
      url('../images/comillas-arriba.png') 93% 0 no-repeat;
      background-size: 96px;
      background-color: $colorSecondary;
    }

    @media all and (min-width:1024px) {
      background-size: 136px;
    }
  }

  .testimony-text {
    background-color: $colorQuintary;
    width: 100%;
    font-size: 13px;
    padding: 33px;
    height: 380px;
    text-align: center;
    display: flex;
    align-items: center;
    @media all and (min-width:768px) {
      width: 100%;
      font-size: 12px;
      padding: 20px 40px;
      height: 268px;
    }

    @media all and (min-width:1024px) {
      width: 100%;
      padding: 20px 50px;
      font-size: 18px;
      height: 350px;
    }

  }

  .image-testimony {
    border-radius: 75px;
    width: 70px;
    display: block;
    margin: auto;
  }

  .testimony-person {
    background-color: $colorSecondary;
    padding: 30px;
    margin: 14% 0;
    text-align: center;
    font-size: 1rem;
    @media all and (min-width:768px){
      padding: 30px 0;
      width: 95%;
    }
  }

  li.testimony{
    list-style: none;
    margin: 0 15px;
  }
}
