/* SECTION INTRO INFO*/
.intro-info {
  display: block;
  text-align: center;
}
.intro-info-text {
  margin: 1.5rem;
}
.info-img {
  display: block;
  width: 100%;
}
.intro-par,.button-inf-org,.text-button-org {
  display: none;
}
/* ============
RESPONSIVE INFO
===============*/
@media all and (min-width: 768px) {
  .intro-info-text,.intro-par {
    color: white;
    position: absolute;
    text-align: left;
    margin-left: 2.9rem;
    margin-right: 20rem;
  }
  .intro-info-text {
    margin-top: -17rem;
  }
  .intro-par {
    display: block;
    font-size: 1rem;
    margin-top: -13rem;
  }
  .button-inf-org {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: white;
    font-size: 1.2rem;
    padding: 1rem;
    margin-left: 2.9rem;
    margin-top: -5.8rem;
    margin-bottom: 0;
    position: absolute;
    z-index: 3;
  }
  .text-button-org {
    display: block;
    color: black;
    text-decoration: none;
  }
}

@media all and (min-width: 1024px) {
  .intro-info-text {
    margin-top: -17rem;
  }
  .intro-par {
    font-size: 1.2rem;
    margin-top: -13rem;
  }
}
