/* FONT FAMILY */

/* FONT SIZE */
$mainTitleSize: 2.25rem;
$secondaryTitleSize: 4rem;
$thirdTitleSize: 3.5rem;
$fourthTitleSize: 2.5rem;
$fifthTitleSize: 2rem;
$text-size: 1.30rem;




/* FONT WEIGHT */

$lightFontWeight: 300;
$normalFontWeight: 400;
$mediumFontWeight: 500;
$boldFontWeight: 700;


/* FONT WEIGHT */

$lineHeightMobile: 1.2;
$lineHeightTablet: 1.4;
$lineHeightDesktop: 1.5;
