/* FONT FAMILY */
body {
  font-family: Ubuntu, sans-serif;
}

/* FONT SIZE */
$mainTitleSize: 3.125rem;
$secondaryTitleSize: 2.5rem;
$thirdTitleSize: 2rem;
$fourthTitleSize: 1.125rem;


/* FONT WEIGHT */

$lightFontWeight: 300;
$normalFontWeight: 400;
$mediumFontWeight: 500;
$boldFontWeight: 700;
